.question-body{
    background-color: rgb(119, 139, 178);
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-box{
    background-color: rgb(240, 233, 247);
    text-align: center;
    width: 60rem;
    height: 12rem;
}
.add-btn{
    width: 6rem;
    height: 3rem;
}